.about {
    min-height: 60vh;
    padding-left: 15%;
    padding-right: 25%;
    padding-top: 15px;
    background: rgb(45,33,171);
background: linear-gradient(90deg, rgba(45,33,171,1) 0%, rgba(161,59,159,1) 100%);
}

.aboutContent {
    display: flex;
    flex-direction: row;
}

.aboutDescription {
    max-width: 600px;
    font-size: 22px;
    text-align: justify;
}

.aboutDescription ul {
    padding-top: 5px;
    padding-bottom: 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 10px));
}

.aboutDescription p {
    padding-bottom: 15px;
}

.aboutDescription li {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
}

.aboutDescription li::before {
    content: "▹    ";
    color: var(--purple-pizzazz);
    position: absolute;
    left: 0;
}

.aboutDescription a {
    font-size: 21px;
    font-weight: bold;
    color: var(--purple-pizzazz);
}

.aboutImage {
    padding-left: 40px;
}

.aboutImage img {   
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
    border: none;
}