.credits {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.endingCredits {
    color: var(--soft-purple);
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding-bottom: 40px;
}