.deagervision {
    min-height: 100vh;
    background-image: url('/image/DeagerVision.png');
    background-size: cover;
    background-position: center;
}  

.btnGrad {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;  /* will work on this */       
    text-decoration: none;
    border-radius: 10px;
    display: block;
}

.btnGrad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.descBox {
    margin-left: 40px;
    margin-right: 60%;
    margin-top: 23vh;
    margin-bottom: 10vh;

    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background: rgb(54, 57, 62 , .7);
    align-items: center;
}

.descBox h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    /* color: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%); */
}

.descBox a {
    color: var(--purple-pizzazz);
}

.descBox p {
    font-size: 18px;
    padding-bottom: 15px;
}

.descBox span {
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
    color: var(--violet);
}