@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: overlay;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'NTR', sans-serif;
}

:root {
  --violet: #9700fd;
  --palatinate-purple: #560D57ff;
  --russian-violet: #370A48ff;
  --persian-indigo: #290D5Fff;
  --purple-pizzazz: #FB4CE6ff;
  --russian-violet-2: #280648ff;
  --soft-purple: #ebcafe;
  --soft-white: #f2e0fc;

  --neon-blue: #1B02A3;
  --brandeis-blue: #006AF9;
  --capri:  #00C0F9;
  --phlox: #DC00FE;
  --electric-purple: #bc00fe;
  --han-purple: #5319fb;
  --retro-orange: #fe5e54;
}

/* Text selection box */
::-moz-selection {
  /* color: var(--phlox); */
  background: var(--neon-blue);
}

::selection {
  /* color: var(--phlox); */
  background: var(--neon-blue);
} 

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--capri);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--electric-purple);
}