@font-face {
  font-family: 'Product-Sans';
  src: url('/fonts/Product_Sans_regular.ttf');
}

@font-face {
  font-family: 'NTR';
  src: url('/fonts/NTR-regular.ttf');
}

.bg {
  background-color: var(--persian-indigo);
  display: flex;
  flex-direction: column;
  font-family: 'Product-Sans', sans-serif;
}