.introBg { 
    min-height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2),  rgba(0, 0, 0, 0.2)), url('/image/synthwaveSun.gif');
    background-size: cover;
    background-position: center;
}
.intro { 
    display: flex;
    flex-direction: column;
    padding-left: 12%;
    padding-top: 40vh;
    color: var(--soft-purple);
}

.introTitle {
    font-size: 95px;
    font-weight: 400;
    text-align: justify;
}

.introDesc {
    font-size: 40px;
    text-align: center;
    max-width: fit-content;
}


@media only screen and (max-width: 800px) {
    .intro {
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .introTitle {
        font-size: 75px;
    }

    .introDesc {
        font-size: 30px;
    };
}

@media only screen and (max-width: 500px) {
    .introTitle {
        font-size: 55px;
    }

    .introDesc {
        font-size: 25px;
    };
}