.sideBar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    padding-right: 35px;
    bottom: 5%;
}


.sideBar a {
    text-decoration: none !important;
    color: var(--electric-purple) 

}
  
.sideBar a:hover {
    color: var(--capri)

}

.sidebarLinks {
    display: flex;
    flex-direction: column;
    text-align: right;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-size: 20px;
    padding: 0.2em;
    font-weight: bold;
}

.sidebarLogos {
    padding-top: 25px;
    /* width: 70px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
}

@media only screen and (max-width: 600px) {
  .sideBar {
    width: 100%;
    height: 50px;
    position: absolute;
    align-items: center;
    top: 20px;
  }

  .sidebarLinks {
    padding-left: 19vw;
    flex-direction: row;
    font-size: 20px;
  }

  .sidebarLinks a {
    padding-right: 30px;
  }

  .sidebarLogos {
    padding-top: 10px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5%;
  }

  .sidebarLogos a {
      margin-left: 30%;
  }
}